<% if( cineplex ) { %>
    <div id="table">
    <table>
        <tr>
            <th>ID </th>
            <th>Tên  </th>
            <th>Địa chỉ </th>
            <th>Thao tác</th>
        </tr>
        <% for(let i = 0 ;i < cineplex.length ; i++) { %>
            <tr>
            <td><%= cineplex[i].dataValues.cineplex_ID %></td> 
            <td><%= cineplex[i].dataValues.cineplex_Name %></td> 
            <td><%= cineplex[i].dataValues.cineplex_Adress %></td>
            <td><b id="btn_update_cineplex_<%= cineplex[i].dataValues.cineplex_ID %>">Cật nhập</b>&nbsp;&nbsp;
            <a href="/admin/delete/cineplex/<%= cineplex[i].dataValues.cineplex_ID %>" onclick="return confirmAction()" >Xóa</a></td>
            </tr>   
        <% } %>
    </table>
    </div>
    <div>
            <% for(let i = 0 ;i < cineplex.length ; i++) { %>
            <script>
                    $(document).ready(function(){
                        $("#btn_update_cineplex_main_<%= cineplex[i].dataValues.cineplex_ID %>").hide();
                        $("#btn_update_cineplex_<%= cineplex[i].dataValues.cineplex_ID %>").click(function(){
                            $("#btn_update_cineplex_main_<%= cineplex[i].dataValues.cineplex_ID %>").show();
                        });
                        $("#btn_close_cineplex_1_<%= cineplex[i].dataValues.cineplex_ID %>").click(function(){
                            $("#btn_update_cineplex_main_<%= cineplex[i].dataValues.cineplex_ID %>").hide();
                        });
                        $("#btn_close_cineplex_<%= cineplex[i].dataValues.cineplex_ID %>").click(function(){
                            $("#btn_update_cineplex_main_<%= cineplex[i].dataValues.cineplex_ID %>").hide();
                        });
                        
                    });
            </script>
            <% } %>
    </div>
    <div>
        <% for(let i = 0 ;i < cineplex.length ; i++) { %>
        <div id="btn_update_cineplex_main_<%= cineplex[i].dataValues.cineplex_ID %>" class="modal">
                <span class="close" title="Close Modal" id="btn_close_cineplex_<%= cineplex[i].dataValues.cineplex_ID %>">
                            &times;
                </span>
                <form class="modal-content animate" action="/admin/update/cineplex/<%=cineplex[i].dataValues.cineplex_ID %>" method="POST" id="btn_update_cineplex">
                    <div class="container">
                        <label> Tên :</label>
                        <input type="text" value="<%= cineplex[i].dataValues.cineplex_Name %>" name="txtCineplexName"/>
                        <label> Địa chỉ :</label>
                        <input type="text" value="<%= cineplex[i].dataValues.cineplex_Adress %>" name="txtCineplexAdress"/>
                        <button type="submit" value="Cap nhat">
                                Cập nhật
                        </button>
                    </div>
                    <div class="container">
                        <button type="button" class="cancelbtn" id="btn_close_cineplex_1_<%= cineplex[i].dataValues.cineplex_ID %>">
                                Cancel 
                        </button>
                    </div>
                </form>
            </div>
        <% } %>
    </div>




    <a style="width:auto" class="btn_create" id="btn_create_cineplex">
            Thêm cụm rạp
    </a>
    <div id="create_cineplex" class="modal">
        <span class="close" title="Close Modal" id="btn_close_cineplex_create">
            &times;
        </span>
        <form action="/admin/create/cineplex/" method="POST" class="modal-content animate">
            <div class="container">
                <label>Tên :</label>
                <input type="text" placeholder="Nhap vao ten " id="cineplex_Name" name="cineplex_Name" required/><br/>
                <label> Địa Chỉ :</label>
                <input type="text" placeholder="Nhap vao dia chi" id="cineplex_Adress" name="cineplex_Adress" required/><br/>
                <button type="submit" value="Thêm vào Film">
                    Thêm vào cụm rạp
                </button>
            </div>
            <div class="container">
                <button type="button" class="cancelbtn" id="btn_close_cineplex_create_1">
                    Cancel 
                </button>
            </div>
        </form>
    </div>
<% } %>

