<div class="Timkiem">
    <h1 class="admin-title">Thống kê doanh thu</h1>
    <form method="POST">
        <label> Từ ngày: </label> <input type="date" name="fromDate" required />
        <label> Đến ngày:</label> <input type="date" name="toDate" required />
        <button type="submit" class="btn-statistic">Thống kê</button>
    </form>
</div>
<br />

<% if(typeof(fromDate) !='undefined' && typeof(toDate) !='undefined' ){%>
    <% if(filmStatistic.length!=0){ %>
        <h3>
            DOANH THU CÁC PHIM TỪ
            <span style="color: red;">
                <%= fromDate %>
            </span>ĐẾN <span style="color: red;">
                <%= toDate %>
            </span>
        </h3>
        <%}}else{%>
            <h3> DOANH THU PHIM </h3>
            <%}%>
                <div class="table">
                    <table>
                        <tr>
                            <th> Phim </th>
                            <th> Tổng doanh thu </th>
                            <th> Số vé bán được </th>
                        </tr>
                        <% if(filmStatistic.length==0){ %>
                            <% if(typeof(fromDate) !='undefined' && typeof(toDate) !='undefined' ){%>
                                <h3>
                                    CÁC BỘ PHIM CHƯA CÓ DOANH THU TỪ
                                    <span style="color: red;">
                                        <%= fromDate %>
                                    </span>ĐẾN <span style="color: red;">
                                        <%= toDate %>
                                    </span>
                                </h3>
                                <%}%>
                                    <%}else{%>
                                        <% for(let i=0 ;i < filmStatistic.length ; i++ ) { %>
                                            <tr>
                                                <td>
                                                    <%= filmStatistic[i].filmName %>
                                                </td>
                                                <td>
                                                    <%= filmStatistic[i].filmRevenue %> đ
                                                </td>
                                                <td>
                                                    <%= filmStatistic[i].filmSoldTicketAmount %>
                                                </td>
                                            </tr>
                                            <% }} %>
                    </table>
                </div>
                <% if(typeof(fromDate) !='undefined' && typeof(toDate) !='undefined' ){%>
                    <% if(cineplexStatistic.length!=0){ %>
                        <h3>
                            DOANH THU CÁC CỤM RẠP TỪ
                            <span style="color: red;">
                                <%= fromDate %>
                            </span>ĐẾN <span style="color: red;">
                                <%= toDate %>
                            </span>
                        </h3>
                        <%}}else{%>
                            <h3> DOANH THU CỤM RẠP </h3>
                            <%}%>
                                <div class="table">
                                    <table>
                                        <tr>
                                            <th> Cụm rạp </th>
                                            <th> Tổng doanh thu </th>
                                            <th> Số vé bán được </th>
                                        </tr>
                                        <% if(cineplexStatistic.length==0){ %>
                                            <% if(typeof(fromDate) !='undefined' && typeof(toDate) !='undefined' ){%>
                                                <h3>
                                                    CÁC RẠP CHƯA CÓ DOANH THU TỪ
                                                    <span style="color: red;">
                                                        <%= fromDate %>
                                                    </span>ĐẾN <span style="color: red;">
                                                        <%= toDate %>
                                                    </span>
                                                </h3>
                                                <%}%>
                                                    <%}else{%>
                                                        <% for(let i=0 ;i < cineplexStatistic.length ; i++ ) { %>
                                                            <tr>
                                                                <td>
                                                                    <%= cineplexStatistic[i].cineplexName %>
                                                                </td>
                                                                <td>
                                                                    <%= cineplexStatistic[i].cineplexRevenue %> đ
                                                                </td>
                                                                <td>
                                                                    <%= cineplexStatistic[i].cineplexSoldTicketAmount %>
                                                                </td>
                                                            </tr>
                                                            <% }} %>
                                    </table>
                                </div>