<h1 style="text-align: center">Bảng suất chiếu</h1>
<% if(typeof loi !=='undefined' ) { %>
    <p>Không tạo thêm được suất chiếu vì có thể bạn đã tạo suất chiếu đó rồi </p>
    <% } %>
        <div id="table">
            <% if(timeShowCinemaIDcinema) { %>
                <table>
                    <tr>
                        <th>Rạp </th>
                        <th>Ngày chiếu </th>
                        <th>Thời gian bất đầu - kết thúc </th>
                        <th>Film </th>
                        <th>Thao tác</th>
                    </tr>
                    <% for(let i=0; i < timeShowCinemaIDcinema.length ;i++) { %>
                        </tr>
                        <td>
                            <%= timeShowCinemaIDcinema[i].dataValues.Cinema.cinema_Name %>
                        </td>
                        <td>
                            <% var d=new Date(timeShowCinemaIDcinema[i].dataValues.cinemaTimeShow_Date); %>
                                <%= d.getDate(); %>
                                    /
                                    <%= d.getMonth()+1; %>
                                        /
                                        <%= d.getFullYear(); %>
                        </td>
                        <td>
                            <%= timeShowCinemaIDcinema[i].dataValues.TimeShow.timeShow_Start %> - <%=
                                    timeShowCinemaIDcinema[i].dataValues.TimeShow.timeShow_End %>
                        </td>
                        <td>
                            <%= timeShowCinemaIDcinema[i].dataValues.Film.film_Name %>
                        </td>
                        <td>
                            <b
                                id="btn_update_cinemaTimeShow_<%= timeShowCinemaIDcinema[i].dataValues.cinemaTimeShow_ID %>">Cập
                                nhật</b> &nbsp;
                            <a href="/admin/delete/cinemaTimeShow/cinema/<%= timeShowCinemaIDcinema[i].dataValues.cinemaTimeShow_ID %>"
                                onclick="return confirmAction()">Xóa</a>
                        </td>
                        </tr>
                        <% } %>
                </table>
                <% } %>
        </div>
        <a id="btn_create_cinemaTimeShowCinema" class="btn_create">Thêm suất chiếu</a>

        <div id="create_cinemaTimeShowCinema" class="modal">
            <span class="close" title="Close Modal" id="btn_close_cinemaTimeShowCinema">
                &times;
            </span>
            <form action="/admin/create/cinemaTimeShow/" method="POST" class="modal-content animate">
                <div class="container">
                    <label>Rap :</label>
                    <select name="txtcinema_ID">
                        <% for(let i=0;i< cinemaAll.length ; i++){ %>
                            <option value="<%= cinemaAll[i].dataValues.cinema_ID %>">
                                <%= cinemaAll[i].dataValues.cinema_Name %>
                            </option>
                            <% } %>
                    </select>
                    <label> Ngày chiếu :</label>
                    <input type="date" placeholder="Nhap vao nagy" id="cinemaTimeShow_Date"
                        name="txtCinemaTimeShow_Date" required /><br />
                    <label> Thời gian bắt đầu : </label>
                    <select name="timeShowID">
                        <% for(let i=0 ; i < TimeShow.length ;i++ ) { %>
                            <option value="<%= TimeShow[i].dataValues.timeShow_ID %>">
                                <%= TimeShow[i].dataValues.timeShow_Start %> - <%= TimeShow[i].dataValues.timeShow_End
                                        %>
                            </option>
                            <% } %>
                    </select>
                    <label>Phim :</label>
                    <select name="filmID">
                        <% for(let i=0;i< filmCinemaTimeShow.length ; i++){ %>
                            <option value="<%= filmCinemaTimeShow[i].dataValues.film_ID %>">
                                <%= filmCinemaTimeShow[i].dataValues.film_Name %>
                            </option>
                            <% } %>
                    </select>
                    <button type="submit" value="Thêm vào Film">
                        Thêm vào cụm rạp
                    </button>
                </div>
                <div class="container">
                    <button type="button" class="cancelbtn" id="btn_close_cinemaTimeShowCinema_1">
                        Cancel
                    </button>
                </div>
            </form>
        </div>