<!DOCTYPE html>
<html>

<head>

    <title>Một Chút Film Cinema</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script src="/public/js/jquery/jquery-1.10.2.min.js"></script>
    <script src="/public/js/jquery/noconflict.js"></script>
    <script src="/public/js/jquery/varien_format_js.js"></script>

    <link rel="stylesheet" type="text/css" href="/public/css/user/muave.css">
    <style>

    </style>
</head>

<body>
    <div>
        <div>

            <div style="padding-left: 10%; padding-right: 10%">
                <div class="col-main">
                    <div class="booking-progress">
                        <h1>CHỌN GHẾ NGỒI</h1>
                    </div>

                    <!-- BEGIN main-content -->
                    <div class="main-content">
                        <ul class="progress">
                            <li class="booking-step cycle-slide cycle-slide-active"
                                style="position: absolute; top: 0px; left: 0px; z-index: 100; opacity: 1; display: block; visibility: visible;">
                                <label class="top-content">Phòng chiếu</label>

                                <!-- BEGIN ticketbox -->
                                <div class="ticketbox">
                                    <img src="/public/image/screen.JPG">
                                    <% var chairLetterCode='ABCDEFGHIJKLMNOPQRSTUVWXYZ' ; %>
                                        <% var cinemaWidth=chairLetterCode.substring(0,showtime.Cinema.cinema_Width); %>

                                            <% if (showtime.Cinema.cinema_Type=="2D" ) { %>
                                                <!-- DUYỆT HÀNG NGANG -->
                                                <% for (var z in cinemaWidth) { %>
                                                    <div class="row">

                                                        <!-- MỖI HÀNG NGANG CÓ NHIỀU HÀNG DỌC   -->
                                                        <% for (var i=1; i <=showtime.Cinema.cinema_Length; i++) { %>
                                                            <div class="seat seat-standard active" zone="Thường"
                                                                onclick="selected(this)" loc="<%= cinemaWidth[z] + i%>"
                                                                id="<%= cinemaWidth[z] + i %>"
                                                                price="<%= Number(showtime.showtime_Price) %>">
                                                                <%= cinemaWidth[z] + i %>
                                                            </div>
                                                            <% } %>
                                                    </div>
                                                    <% } %>
                                                        <% } else { %>
                                                            <!-- <% for (var z in cinemaWidth) { %>
                                                                            <div class="row">
                                                                                <% for (var i=0; i <
                                                                                    showtime.Cinema.cinema_Width; i++) {
                                                                                    %>
                                                                                    <div class="seat seat-standard active"
                                                                                        onclick="selected(this)"
                                                                                        loc="<%= cinemaWidth[z]%><%= i+1%>"
                                                                                        id="<%= cinemaWidth[z]%><%= i+1%>"
                                                                                        price="95000">
                                                                                        <%= cinemaWidth[z]%>
                                                                                            <%= i+1 %>
                                                                                    </div>
                                                                                    <% } %>
                                                                            </div>
                                                                            <% } %> -->
                                                            <% } %>
                                </div>
                                <!-- END ticketbox -->

                                <div class="ticketbox-notice">
                                    <div class="iconlist">
                                        <div class="icon checked">Đã chọn</div>
                                        <div class="icon occupied">Đã được đặt</div>
                                        <!-- <div></div> -->
                                        <!-- </div> -->

                                        <!-- <div class="iconlist"> -->
                                        <div class="icon zone-standard" title="Standard"> Chưa chọn </div>
                                    </div>
                                </div>
                                <div class="ticketbox-notice" style="text-align: right; padding-right: 5%">
                                    <div style="text-align: right">
                                        <a href="/phim/<%= showtime.showtime_Film %>">
                                            Trở về </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- END main-content -->

                    <!-- BEGIN bottom-content -->
                    <div class="bottom-content">
                        <div class="format-bg-top"></div>

                        <!-- FORM MUA VÉ -->
                        <form action="/user/mua-ve/thong-tin-ve/<%= showtime.showtime_ID %>" method="POST">
                            <div class="minicart-wrapper">

                                <ul>
                                    <!-- THÔNG TIN PHIM -->
                                    <li class="item first" xmlns="http://www.w3.org/1999/html">
                                        <div class="product-details">
                                            <table class="info-wrapper">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <img src="<%= showtime.Film.film_Image %>"
                                                                alt="Không load được ảnh">
                                                        </td>
                                                        <td>
                                                            <table class="info-wrapper">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="name_film"
                                                                            style="text-align: center">
                                                                            <%= showtime.Film.film_Name %>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            Chế độ chiếu: <%=
                                                                                showtime.Cinema.cinema_Type%>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            Suất chiếu: <%=
                                                                                showtime.showtime_Begin.substr(0,5) %>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>

                                    <!-- THÔNG TIN RẠP -->
                                    <li class="item" xmlns="http://www.w3.org/1999/html">
                                        <div class="product-details">
                                            <table class="info-wrapper">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            Cụm rạp: <%= showtime.Cinema.Cineplex.cineplex_Name %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Ngày chiếu:
                                                            <% var d=new Date(showtime.showtime_Date); %>
                                                                <% if(d.getDate()<10){ %>
                                                                    <%= '0' + String(d.getDate()) %>
                                                                        <% }else{ %>
                                                                            <%= d.getDate() %>
                                                                                <% }; %>
                                                                                    /
                                                                                    <% if(d.getMonth()<10){ %>
                                                                                        <%= '0' + String(d.getMonth()+1)
                                                                                            %>
                                                                                            <% }else{ %>
                                                                                                <%= d.getMonth() %>
                                                                                                    <% }; %>
                                                                                                        /
                                                                                                        <%= d.getFullYear();
                                                                                                            %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td get="<%= showtime.Cinema_ID %>">
                                                            Rạp: <%= showtime.Cinema.cinema_Name %>
                                                        </td>
                                                    </tr>

                                                    <!-- <tr class="block-seats" style="display: none;">
                                                        <td>Ghế:</td>
                                                        <td class="data"></td>

                                                        <input id="txtChairType" class="item-options"
                                                            name="txtChairType" value="">
                                                        <input id="txtChair" class="item-options" name="txtChair"
                                                            value="">
                                                    </tr> -->

                                                </tbody>
                                            </table>
                                        </div>
                                    </li>

                                    <!-- THÔNG TIN TIỀN VÉ -->
                                    <li class="item" xmlns="http://www.w3.org/1999/html">
                                        <div class="product-details">
                                            <table class="info-wrapper">

                                                <!-- TIỀN VÉ -->
                                                <thead>
                                                    <tr class="block-box">
                                                        <td class="">Tiền vé:</td>
                                                        <td class="price">0 ₫</td>
                                                        <td class="data">
                                                            <div class="truncated">
                                                                <div class="truncated_full_value"></div>
                                                                <a href="javascript: void(0);" onclick="return false;"
                                                                    class="details">I</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </thead>

                                                <!-- TIỀN COMBO -->
                                                <!-- <tbody>
                                                    <tr class="block-con">
                                                        <td>Combo:</td>
                                                        <td class="price"><span class="price">0&nbsp;₫</span></td>
                                                        <td class="data">
                                                            <div class="truncated">
                                                                <div class="truncated_full_value"></div>
                                                                <a href="javascript: void(0);" onclick="return false;"
                                                                    class="details">I</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody> -->
                                                <tbody>
                                                    <tr class="block-seats" style="display: none;">
                                                        <td>Ghế:</td>
                                                        <td class="data"></td>

                                                        <input id="txtChairType" class="item-options"
                                                            name="txtChairType" value="">
                                                        <input id="txtChair" class="item-options" name="txtChair"
                                                            value="">
                                                    </tr>
                                                </tbody>

                                                <!-- TỔNG TIỀN -->
                                                <tfoot class="block-price">
                                                    <tr>
                                                        <td>Tổng: </td>
                                                        <td class="price" colspan="2">0&nbsp;₫</td>
                                                        <input id="txtTotalMoney" class="item-options"
                                                            name="txtTotalMoney" value="">
                                                    </tr>
                                                </tfoot>

                                            </table>

                                            <!-- MUA VÉ -->
                                            <div class="button_muave"></div>

                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </form>

                        <div class="format-bg-bottom"></div>
                    </div>
                    <!-- END bottom-content -->
                </div>
            </div>
        </div>
    </div>
    <div id="bookedSeats" value="<%= bookedSeats %>" style="display: none"></div>
    <div id="cinemaLength" value="<%= showtime.Cinema.cinema_Length %>" style="display: none">
    </div>
    <div id="cinemaWidth" value="<%= showtime.Cinema.cinema_Width %>" style="display: none">
    </div>
</body>
<script>
    /* Xử lý chuỗi các ghế đã chọn */
    var bookedSeatString = $j("#bookedSeats").attr('value');
    var newBookSeatStr = bookedSeatString.slice(0, bookedSeatString.length - 2);
    var bookedSeatArray = [];

    //MẢNG CHỨA CÁC GHẾ
    bookedSeatArray = newBookSeatStr.split(", ");

    /* Set ghế đã đặt*/
    var cinemaLength = $j("#cinemaLength").attr('value');
    var cinemaWidth = $j("#cinemaWidth").attr('value');

    var chuoi_ghe = [];

    var chairLetterCode = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

    // DÃY CHỮ CÁI HÀNG DỌC
    var cinemaLengthLetters = chairLetterCode.slice(0, cinemaLength);
    for (var i in cinemaLengthLetters) {
        // i=0: chair = A
        var chair = cinemaLengthLetters[i];

        for (var z = 1; z <= cinemaWidth; z++) {
            // Ex: chair: A = A + 1 = A1
            chair = chair + String(z);

            for (var k = 0; k < bookedSeatArray.length; k++) {
                if (chair == bookedSeatArray[k]) {
                    // DUYỆT VÀ XỬ LÝ TỪNG GHẾ XỬ LÝ GHẾ
                    // GHẾ ĐẶT RỒI -> DISABLE, CHƯA ĐẶT -> ACTIVE

                    var chairCode = bookedSeatArray[k];
                    $j("#" + chairCode).removeClass('active');
                    $j("#" + chairCode).addClass('seat-disable');
                    $j("#" + chairCode).addClass('disable');

                    //Thêm các thuộc tính cho mỗi ghế
                    $j("#" + chairCode).attr('onclick', "");
                    $j("#" + chairCode).attr('loc', "");
                    $j("#" + chairCode).attr('price', "");


                    if (i < cinemaLengthLetters.length / 2) {
                        $j("#" + chairCode).removeClass('seat-standard');
                    } else {
                        $j("#" + chairCode).removeClass('seat-vipprime');
                    }

                    console.log("Đã set được ghế: " + bookedSeatArray[k]);
                }
            }

            // chair = A
            // chair = cinemaLengthLetters[i];
        }
    }

    var ticketPrice = seatLimit = conprice = 0;

    function selected(obj) {

        /* Hiệu ứng chọn ghế (checked) + số lượng ghế tối đa*/

        //NẾU CHƯA CHECK
        if (!$j(obj).hasClass('checked')) {
            if ($j(obj).attr('spec')) {

                if (seatLimit < 8) {
                    var checkedSeatList = $j('.ticketbox .seat.active');
                    $j(checkedSeatList).each(function () {
                        if ($j(obj).attr('spec') == $j(this).attr('spec')) {
                            $j(this).addClass('checked');
                            seatLimit += 1;
                        }
                    });
                } else {
                    alert('Giới hạn tối đa 9 ghế cho một lần đặt vé !!');
                }
            } else {
                if (seatLimit < 9) {
                    $j(obj).addClass('checked');
                    seatLimit += 1;
                } else {
                    alert('Giới hạn tối đa 9 ghế cho một lần đặt vé !!');
                }
            }
        } else { //NẾU CHƯA CHECK

            if ($j(obj).attr('spec')) {
                var checkedSeatList = $j('.ticketbox .seat.checked');
                $j(checkedSeatList).each(function () {
                    if ($j(obj).attr('spec') == $j(this).attr('spec')) {
                        $j(this).removeClass('checked');
                        seatLimit -= 1;
                    }
                });
            } else {
                $j(obj).removeClass('checked');
                seatLimit -= 1;
            }
        }

        /* Tính tiền + hiển thị ghế đã chọn*/
        box = [];
        ticketPrice = 0;
        fseats = {};
        ftickets = 0;

        var columns = $j('.ticketbox .seat.checked');

        $j(columns).each(function () {
            box.push({
                seat: $j(this).text().replace(/\s/g, ''),
                price: parseInt($j(this).attr('price')),
            })
        });


        var htmlbox;
        // box = [{seat: 'A11', price: 55000}, {}, {},...]

        if (Object.keys(box).length > 0) {
            var seats = {};
            htmlbox = '<dl class="item-options">';

            // for (var key in box) {
            for (var i = 0; i < box.length; i++) {
                var numOfBookedSeats = 0;

                if (!seats[i]) {
                    seats[i] = box[i].seat;
                } else {
                    seats[i] += ', ' + box[i].seat;
                }
                if (box[i].price > 0) {
                    ticketPrice += box[i].price;
                }
                numOfBookedSeats++;

                htmlbox += '<dt>' + box[i].seat + '</dt>';
                htmlbox += '<dd>' + numOfBookedSeats + '</dd>';
            }

            htmlbox += '</dl>';

            var html;
            var html_btnBuyTicket;

            console.log(seats);

            var allSeats = "";
            $j.each(seats, function (index, value) {
                allSeats += value + ', ';
                html_btnBuyTicket = '<table class="info-wrapper"><button type="submit" class="muave" id="check_muave"> Mua vé </button></table>';
                $j('#txtChairType').attr("value", index);

            });

            //TỔNG TIỀN
            $j('#txtTotalMoney').attr("value", ticketPrice);

            // DATA (GHẾ ĐÃ CHỌN)
            const newAllSeats = allSeats.substr(0, allSeats.length - 2);
            $j('#txtChair').attr("value", newAllSeats);
            html = '<span style="clear: both; float: left;">' + newAllSeats + '</span>';
            $j('.minicart-wrapper .block-seats .data').html(html);
            $j('.minicart-wrapper .product-details .button_muave').html(html_btnBuyTicket);
            $j('.block-seats').show();
            $j('.button_muave').show();

        } else {
            $j('.minicart-wrapper .block-seats .data').empty();
            $j('.minicart-wrapper .product-details .button_muave').empty();
            $j('.block-seats').hide();
            $j('.button_muave').hide();
        }
        $j('.minicart-wrapper .block-box .data .truncated_full_value').empty();
        $j('.minicart-wrapper .block-box .data .truncated_full_value').html(htmlbox);



        $j('.minicart-wrapper .block-box .price').html(formatCurrency(ticketPrice, { "pattern": "%s\u00a0\u20ab", "precision": 0, "requiredPrecision": 0, "decimalSymbol": ",", "groupSymbol": ".", "groupLength": 3, "integerRequired": 1 }));
        $j('.minicart-wrapper .block-price .price').html(formatCurrency(ticketPrice + conprice, { "pattern": "%s\u00a0\u20ab", "precision": 0, "requiredPrecision": 0, "decimalSymbol": ",", "groupSymbol": ".", "groupLength": 3, "integerRequired": 1 }));
    };

</script>

</html>