<!DOCTYPE html>
<html>

<head>
    <title>Thông tin vé</title>

    <script src="//maxcdn.  bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="/public/js/jquery/user/jquery-1.11.1.min.js"></script>
    <script src="/public/js/jquery/user/jquery-latest.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script src="/public/js/jquery/jquery-1.10.2.min.js"></script>
    <script src="/public/js/jquery/noconflict.js"></script>
    <script src="/public/js/jquery/varien_format_js.js"></script>

    <link rel="stylesheet" type="text/css" href="/public/css/user/infoUser.css">

</head>

<body class="bgInfoUser">
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
            <h1 style="text-align: center; color: black; font-weight: bold">Thông tin vé bạn đã đặt</h1>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
            <form action="/phim/muave/thongtinve/back/<%= timeShow_Chosen.dataValues.cinemaTimeShow_ID %>" method="POST">
                <div style="text-align: right; padding-right: 20%; margin-top: 20px ">
                    <button type="submit" class="btnuser0">Quay lại phim</button>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="row profile">
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                <img src="<%= timeShow_Chosen.dataValues.Film.film_Image %>" alt="Không load được ảnh" style="object-fit: contain; height: 460px">
            </div>

            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">
                <div class="profile-content">
                    <h2 style="text-align: center; color: red; font-weight: bold; margin-bottom: 10px; margin-top: 0">ĐẶT VÉ THÀNH CÔNG!</h2>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                        <strong>Mã vé : </strong>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                        <p><%= txtMave %></p>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                            <strong>Tên phim : </strong>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                            <p><%= timeShow_Chosen.dataValues.Film.film_Name %></p>
                    </div>


                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                            <strong>Cụm rạp : </strong>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                            <p><%= timeShow_Chosen.dataValues.Cinema.Cineplex.cineplex_Name %></p>
                    </div>


                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                            <strong>Rạp chiếu : </strong>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                            <p><%= timeShow_Chosen.dataValues.Cinema.cinema_Name %></p>
                    </div>


                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                            <strong>Loại ghế : </strong>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                            <p><%= txtChairType %></p>
                    </div>


                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                            <strong>Mã ghế : </strong>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                            <p><%= txtChair %></p>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                        <strong>Ngày chiếu : </strong>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                        <p><% var day = new Date(timeShow_Chosen.dataValues.cinemaTimeShow_Date) %>
                            <%= day.getDate(); %>
                            /
                            <%= day.getMonth()+1; %>
                            /
                            <%= day.getFullYear(); %>
                        </p>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                            <strong>Giờ chiếu : </strong>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                            <p><%= timeShow_Chosen.dataValues.TimeShow.timeShow_Start %> - <%= timeShow_Chosen.dataValues.TimeShow.timeShow_End %></p>
                    </div>


                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                            <strong>Tổng tiền : </strong>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                            <p class="price_UI" id="price_Total" value="<%= txtTotalMoney %>">&nbsp;₫</p>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                        <strong>Lưu ý : </strong>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                        <p>- Thông tin vé cũng đã được gửi về mail và số điện thoại mà bạn đã đăng ký, hãy kiểm tra lại mail và điện thoại của mình.</p>
                        <p>- Hãy đến trước giờ chiếu 15 phút để nhân viên rạp phim có thể check vé giúp bạn.</p>
                        <p>- Chúc bạn có một ngày vui vẻ, VN Cinema Xin Cảm Ơn!</p>
                    </div>
                    
                </div>
            </div>

            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
            </div>
        </div>
    </div>

    <script>
        $j('.profile-content .price_UI').html(formatCurrency($j("#price_Total").attr('value'),{ "pattern": "%s\u00a0\u20ab", "precision": 0, "requiredPrecision": 0, "decimalSymbol": ",", "groupSymbol": ".", "groupLength": 3, "integerRequired": 1 }));
    </script>

</body>

</html>