<div class="content-area">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="title-info">Số điện thoại : </div>
            <br />
            <div class="title-info">Email : </div>
            <br />
            <div class="title-info">Mật khẩu : </div>
            <br />
            <div class="title-info">Địa chỉ : </div>
            <br />
            <div class="title-info">Tổng tiền bạn đã đặt vé : </div>
        </div>
        <form action="/updateInfo/numberphone" method="POST">
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                <input type="text" class="radiusInfo" name='txtUserNumberPhone'
                    placeholder="<%= user.dataValues.user_NumberPhone %>">
                <br />
                <br />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                <button type="submit" class="btnuser">Cập nhật</button>
                <br />
                <br />
            </div>
        </form>

        <form action="/updateInfo/email" method="POST">
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                <input type="email" class="radiusInfo" name='txtUserEmail'
                    placeholder="<%= user.dataValues.user_Email %>">
                <br />
                <br />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                <button type="submit" class="btnuser">Cập nhật</button>
                <br />
                <br />
            </div>
        </form>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
            <input id="input_pass1" class="radiusInfo" type='password' placeholder="*****************">
            <br />
            <br />
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
            <button id="myBtn1" class="btnuser">Cập nhật</button>
            <br />
            <br />
        </div>

        <form action="/updateInfo/address" method="POST">
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                <input type='text' class="radiusInfo" name="txtUserAddress" placeholder="<%= user.dataValues.user_Address %>">
                <br />
                <br />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                <button type="submit" class="btnuser">Cập nhật</button>
                <br />
                <br />
            </div>
        </form>


        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
            <p class="totalMoney" id="totalMoney_all" value="<%= totalMoney %>">&nbsp;₫</p>
            <br />
            <br />
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
            <button id="xem_chi_tiet" type="submit" class="btnuser">Xem chi tiết</button>
            <br />
            <br />
        </div>
    
        
        <!--Password lần 2-->
        <form action="/updateInfo/password" method="POST">
            <div id="myModal1" class="modal">
                <div class="modal-content">
                    <div class="row" style="text-align: center">
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 title-info">
                            <p>Nhập lại mật khẩu</p>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                            <span class="exit1 exit_df">&times;</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                            <input id="input_pass2" type='password' name="txtUserPassword"
                                placeholder="Nhập mật khẩu của bạn vào đây" style="width: 60%">
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                            <button type="submit" class="btnuser">Cập nhật</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!--Thông tin chi tiết-->
        <div id="table_xem_chi_tiet" class="modal2">
            <div class="title">
                <div class="top_title">Lịch sử đặt vé </div>
                <div class="exit_xem_chi_tiet cancelbtn">Thoát</div>
                <div class="table_top" style="margin-bottom: 0">
                    <table>
                        <tr>
                            <th style="width: 3%">STT </th>
                            <th style="width: 25%">Tên phim </th>
                            <th style="width: 10%">Ảnh phim </th>
                            <th style="width: 10%">Ngày chiếu</th>
                            <th style="width: 21%">Cụm rạp / Rạp</th>
                            <th style="width: 15%">Xuất chiếu</th>
                            <th style="width: 8%">Ghế</th>
                            <th style="width: 8%">Tiền vé</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="table">
                <table>
                    <% for (var i = 0; i < all_ve.length; i++ ) { %>
                    <tr>
                        <td style="width: 3%"><%= i+1 %></td>
                        <td style="width: 25%">
                            <%= all_ve[i].dataValues.CinemaTimeShow.Film.film_Name  %>
                        </td>
                        <td style="width: 10%">
                            <img src="<%= all_ve[i].dataValues.CinemaTimeShow.Film.film_Image %>">
                        </td>
                        <td style="width: 10%">
                            <% var d = new Date(all_ve[i].dataValues.CinemaTimeShow.cinemaTimeShow_Date); %>
                            <%= d.getDate(); %>
                            /
                            <%= d.getMonth()+1; %>
                            /
                            <%= d.getFullYear(); %>
                        </td>
                        <td style="width: 21%"> <%= all_ve[i].dataValues.CinemaTimeShow.Cinema.Cineplex.cineplex_Name %> / <%= all_ve[i].dataValues.CinemaTimeShow.Cinema.cinema_Name %></td>
                        <td style="width: 15%"> <%= all_ve[i].dataValues.CinemaTimeShow.TimeShow.timeShow_Start %> - <%= all_ve[i].dataValues.CinemaTimeShow.TimeShow.timeShow_End %></td>
                        <td style="width: 8%"> <%= all_ve[i].dataValues.ticket_Chair %> </td>
                        <td style="width: 8%" id="money_ve" class="moneyve" value="<%= all_ve[i].dataValues.ticket_TotalMoney %>">&nbsp;₫</td>
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>

    <script>
        /* Nút đổi password*/
        var modal1 = document.getElementById("myModal1");
        var btn1 = document.getElementById("myBtn1");
        var span1 = document.getElementsByClassName("exit1")[0];
        btn1.onclick = function () {
            modal1.style.display = "block";
        }
        span1.onclick = function () {
            modal1.style.display = "none";
        }
        window.onclick = function (event) {
            if (event.target == modal1) {
                modal1.style.display = "none";
            }
        }
        /* Xét 2 pass đã nhập có trùng nhau hay không*/
        $("#input_pass2").change(function () {
            var p = $("#input_pass1").val();
            if ($(this).val() != p) {
                alert("Mật khẩu không khớp! Vui lòng kiểm tra lại.");
            }
        });

        /* Thông tin chi tiết*/
        var modal_total = document.getElementById("table_xem_chi_tiet");
        var btn_total = document.getElementById("xem_chi_tiet");
        var span_total = document.getElementsByClassName("exit_xem_chi_tiet")[0];
        btn_total.onclick = function () {
            modal_total.style.display = "block";
        }
        span_total.onclick = function () {
            modal_total.style.display = "none";
        }
        window.onclick = function (event) {
            if (event.target == modal_total) {
                modal_total.style.display = "none";
            }
        }

        $j('.content-area .totalMoney').html(formatCurrency($j("#totalMoney_all").attr('value'),{ "pattern": "%s\u00a0\u20ab", "precision": 0, "requiredPrecision": 0, "decimalSymbol": ",", "groupSymbol": ".", "groupLength": 3, "integerRequired": 1 }));
        $j('.content-area .moneyve').html(formatCurrency($j("#money_ve").attr('value'),{ "pattern": "%s\u00a0\u20ab", "precision": 0, "requiredPrecision": 0, "decimalSymbol": ",", "groupSymbol": ".", "groupLength": 3, "integerRequired": 1 }));
    </script>
</div>